<div id="carousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="item">
					  <%= image_tag 'iphone4-carousel1.jpg' %>
                  </div>
                  <div class="item active">
					  <%= image_tag 'iphone4-carousel2.jpg' %>
                  </div>
				  
				  
                </div>
                <a class="left carousel-control" href="#carousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#carousel" data-slide="next">&rsaquo;</a>
              </div>
            </div>
