<ul class="media-list">
	<li class="media">
		<%= image_tag "aboutus.png", :class => "pull-left" %>
		<div class="media-body">
			<h2 class="media-heading">
				Om oss
			</h2>
			<p></p>
		</div>
	</li>
	<hr>
</ul>
<ul class="thumbnails">
	<% @users.each do |e| %>
	<li class="span3">
		<div class="thumbnail">
        	
			<div class="caption">
            	<h4 class="center-text"><%= e.name %></h4>
                <p class="center-text"><%= e.email %></p>
			</div>
		</div>
	</li>
	<% end %>
</ul>