<br/>
<div class="fbLogo">
	<%=link_to "#{image_tag("fb-logo.png")}".html_safe, "http://www.facebook.com/FixItUB" %>
</div>
<br/>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.no/maps?f=q&amp;source=s_q&amp;hl=no&amp;geocode=&amp;q=Sykkylven&amp;aq=&amp;sll=59.893855,10.785116&amp;sspn=0.222842,0.812302&amp;ie=UTF8&amp;hq=&amp;hnear=Sykkylven,+M%C3%B8re+og+Romsdal&amp;ll=62.395942,6.587506&amp;spn=0.000804,0.003173&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.no/maps?f=q&amp;source=embed&amp;hl=no&amp;geocode=&amp;q=Sykkylven&amp;aq=&amp;sll=59.893855,10.785116&amp;sspn=0.222842,0.812302&amp;ie=UTF8&amp;hq=&amp;hnear=Sykkylven,+M%C3%B8re+og+Romsdal&amp;ll=62.395942,6.587506&amp;spn=0.000804,0.003173&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">Vis større kart</a></small>
<br/><br/>
<address>
  <strong>FixIt UB.</strong><br/>
  Kyrkjevegen 6<br/>
  6230 Sykkylven<br/>
  <abbr title="Phone">T:</abbr> 48 11 52 20
</address>
<br/>
<br/>
<hr>
