<h2>Telefon-modeller</h2>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @phone_models.each do |phone_model| %>
  <tr>
    <td><%= best_in_place phone_model, :name %></td>
    <td>
      <%= link_to 'Endre', edit_phone_model_path(phone_model), class: "btn btn-small" %>
      <%= link_to 'Slett', phone_model, method: :delete, data: { confirm: 'Er du sikker?' }, class: "btn btn-small btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ny telefonmodell', new_phone_model_path, class: "btn btn-small" %>
